<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <div class="gravatar-user">
          <% if current_user.avatar? %>
            <%= image_tag current_user.avatar.thumb.url %>
          <% else %>
            <%= gravatar_for current_user, size: 50 %>
          <% end %>
          <span class="username"><%= current_user.name %></span>
        </div>
      </section>

      <section class="post_form">
        <%= render "shared/post_form" %>
      </section>
    </aside>

    <div class="col-md-8">
      <h3>News Feed</h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center">
    <iframe src="https://danhmanh.github.io/se02-vnu-student" class="frame"></iframe>
  </div>
<% end %>
