<h1>Bạn đã đăng kí tổng cộng <%= current_user.user_courses.count %> môn học</h1>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class="col-xs-1"></th>
      <% 1.upto(10) do |index| %>
        <th class="col-xs-1"><%= index %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% 2.upto(7) do |dow| %>
      <tr>
        <td>Thứ <%= dow %></td>
        <% 1.upto(10) do |time| %>
          <td colspan="1" id="T<%= dow %>-t<%= time %>">
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<script><%= render "class_arrange.js" %></script>
