<div class="container">
  <h2 class="text-center"><%= @group.course.name %></h2>
  <div class="row">
    <div class="col-md-3">
      <h3>List members</h3>
      <div class="well">
        <% @group.users.each do |user| %>
          <p><%= link_to user.name, user_path(user) %></p>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <%= form_for @post, remote: true do |f| %>
        <div class="form-group">
          <%= render "shared/error_messages" %>
          <%= f.text_field :content, placeholder: "Wanna announce something ?", class: "form-control" %>
          <%= f.hidden_field :group_id, value: @group.id %>
        </div>
        <span class="picture">
          <%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png", class: "picture-field" %>
        <%= f.submit "Post", class: "btn btn-primary pull-right" %>
        </span>
      <% end %>

      <br><br>
      <% if @group.posts.any? %>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= paginate @posts, theme: "twitter-bootstrap-3" %>
      <% else %>
        <h3>You haven't created any post.</h3>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
