<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <div class="profile">
        <div class="avatar">
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url %>
          <% else %>
            <%= gravatar_for @user, size: 150 %>
          <% end %>
        </div>
        <div class="username"><%= @user.name %></div>

        <section class="stats">
          <%= render "shared/stats" %>
        </section>

        <% if @user.id == current_user.id %>
          <%= render "user_form" %>
        <% end%>

        <%= render "follow_form" if logged_in? %>
      </div>
    </section>
  </aside>

  <div class="col-md-9">
    <% if @user.posts.any? %>
      <div class="post-title">Posts (<%= @user.posts.count %>)</div>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= paginate @posts, theme: "twitter-bootstrap-3" %>

    <% else %>
      <h3>You haven't created any post.</h3>
    <% end %>
  </div>
</div>
