<div class="col-md-10 col-md-offset-1">
  <div class="user">
    <div class="gravatar-user">
      <% if @post.user.avatar? %>
        <%= image_tag @post.user.avatar.thumb.url, class: "img-avatar" %>
      <% else %>
        <%= gravatar_for @post.user, size: 40 %>
      <% end %>
    </div>
    <%= link_to @post.user.name, user_path(@post.user) %>

    <span class="timestamp">
      Posted <%= time_ago_in_words(@post.created_at) %> ago.
    </span>
  </div>

  <div class="post-content">
    <div><%= @post.content %></div>
    <div><%= image_tag @post.picture.url if @post.picture? %></div>
  </div>

  <div class="like-btn">
    <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>

    <% if pre_like %>
      <%= link_to image_tag("liked.svg"), post_like_path(@post, pre_like), class: "like", method: :delete, remote: true %>
    <% else %>
      <%= link_to image_tag("like.svg"), post_likes_path(@post), class: "like", method: :post, remote: true %>
    <% end %>

    <span class="counter" id="@post-counter-<%= @post.id %>">
      <%= pluralize(@post.likes.count, "like") %>
    </span>
  </div>

  <div class="edit-post">
    <% if current_user.id == @post.user_id %>
      <%= link_to "Edit", edit_post_path(@post), remote: true %>
      <%= link_to "Delete", @post, method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
    <% end %>
    <div id="post-id-<%= @post.id %>"></div>
  </div>

  <div class="comments">
    <div class="comment-title">Comments (<%= @post.comments.count %>):</div>

    <div class="comment-form">
      <%= render "comments/comment_form", post: @post, comment: @post.comments.build %>
    </div>

    <div class="comment-content" id= "comments_<%= @post.id %>">
      <% if @post.comments.present? %>
        <%= render @post.comments, post: @post %>
      <% end %>
    </div>
  </div>
</div>
